<!DOCTYPE html>
<html>
  <head>
    <title>IS 445 Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Omid Shamoil</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="btn btn-outline-light mx-2" href="users">Contact Index</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="/users/user">New User</a>
                </li>
            </ul>
        </div>
      </nav>
    
    </br>
    </br>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to my IS 445 Project!</h1>
        <p class="lead">Developed by Omid Shamoil (011934050)</p>
        <hr class="my-4">
        <p>Please click on one of the buttons in the navigation bar to either view the index of contacts, or create a new contact.</p>
        <hr class="my-4">
        <p>Languages/Technologies used:</p>
        <ul style="list-style-type:disc">
            <li>HTML/Bootsrap: Front-end web development and styling</li>
            <li>Express: Web application framework</li>
            <li>MongoDB: Back-end database connection for web application</li>
            <li>NodeJS: Server-side javascript runtime engine</li>
            <li>Javascript: Used to build dynamic/interactive web pages</li>
        </ul>
    </div>
  </body>
</html>
