<!DOCTYPE html>
<html>

<head>
  <title>Create a User</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/create_user.js"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Omid Shamoil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="/users">Contact Index</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="/users/user">New User</a>
              </li>
          </ul>
      </div>
    </nav>

  </br>
</br>

  <div class="card">
    <div class="card-header">
      New Contact
    </div>
    </br>
    <form>
      <div class="form-group px-5">
        <label for="exampleInputName">Name:</label>
        <input type="text" name= "name" class="form-control" id="name" aria-describedby="emailHelp">
      </div>
      <div class="form-group px-5">
        <label for="exampleInputaddress">E-Mail:</label>
        <input type="text" name= "address" class="form-control" id="address" aria-describedby="emailHelp">
      </div>
      <div class="form-group px-5">
        <label for="exampleInputphone">Phone:</label>
        <input type="text" name= "phone" class="form-control" id="phone" aria-describedby="emailHelp">
      </div>
      <button id="createButton" type="submit" class="btn btn-success mxy-5">Submit</button>
    </form>      
  </div>

</body>

</html>